{%extends 'blog/layout.html.twig'%}

{% block title %} 
{{ parent() }} -
Index {% endblock %} 
{%block body%}
<h1>Liste des articles de la catégorie {{categorie.titre }}</h1>
<ul>
	{% for article in articles %}

	<li>{{article.titre}} de {{ article.auteur }}</li> 
	<em>{{article.date|date('d-m-Y')}}</em>
	<a class="btn bnt-warning" href="{{ path('blog_detail',{id:article.id})}}">Voir &rarr;</a>
	{%endfor%}
	
{% endblock %}
