{%extends 'blog/layout.html.twig'%}

{% block title %} 
{{ parent() }} -
Index {% endblock %} 
{%block body%}

{% for message in app.session.flashbag.get('info') %}
<p class="alert alert-success">{{ message }}</p>
{% endfor %}
<article>
<h1>
{{article.titre}}
	{% for categorie in article.categories %}
	{{ categorie.titre }}
	{%endfor%}
</h1>
<p>{{article.contenu|raw}}<br>
<em>{{article.date|date('d-m-Y')}}</em>
	<a class="btn bnt-warning" href="{{ path('blog_supprimer',{id:article.id})}}">Supprimer article &rarr;</a>
	<a class="btn bnt-warning" href="{{ path('blog_modif',{id:article.id})}}">Modifier article &rarr;</a>
{% for commentaire in commentaires %}
<h3>{{commentaire.contenu}} {{article.date|date('d-m-Y')}} {{ commentaire.auteur }}</h3>
{% endfor %}
</p>
</article>
</ul>
{%endblock%}