{%extends 'blog/layout.html.twig'%}

{% block title %} 
{{ parent() }} -
Index {% endblock %} 
{%block body%}

<h1>Liste des articles</h1>
<ul>
	{% for article in articles %}
	<li>{{article.titre}}</li> 
	<a class="btn bnt-warning" href="{{ path('blog_detail',{id:article.id})}}">Voir &rarr;</a>
	{%if article.image is not null%}
	<img src="{{article.image.Url}}" alt="{{ article.image.alt }}" width="200"></img> 
	{%endif%}
	{% for categorie in article.categories %}
	<p> {{ categorie.titre }}</p>
	{%endfor%}
	{%endfor%}
</ul>
<{%endblock%}
