{%extends 'blog/layout.html.twig'%}

{% block title %} 
{{ parent() }} -
Index {% endblock %} 
{%block body%}

<h1>Liste des articles</h1>
<ul>
	{% for article in articles %}
	<li>{{article.titre}}</li> 
		{% for categorie in article.categories %}
	<p> {{ categorie.titre }}</p>
	{%endfor%}
	<a class="btn bnt-warning" href="{{ path('blog_detail',{id:article.id})}}">Voir &rarr;</a>
	{%if article.image is not null%}
	<img src={{ asset('images/')}}{{ article.image.url }} alt="{{ article.image.alt }}" width="300"></img> 
	{%endif%}
	{%endfor%}
</ul>
{% include 'blog/pagination.html.twig' %}
<{%endblock%}
